.row
  .col-md-6.col-md-offset-3
    - @posts.each do |post|
      .col.col-12.block.left
        %ul.pl0.ml0
          %li.list-style-none
            .h3.bold
              = post.title
            %div
              = image_tag post.content.url(:big)
        %span{id: "vote-#{post.id}"}
          = pluralize((post.upvotes - post.downvotes), 'point')
        •
        %span{id: "comments-#{post.id}"}
          = pluralize((post.comments.count), 'comment')

        %div
          = link_to upvote_path(post), method: :post, remote: true do
            .btn{class: ("btn-upvote-#{post.id} "+ ((post.liked_by_user?(current_user)) ? "btn-warning" : "btn-default"))}
              %i.fa.fa-arrow-up
          = link_to downvote_path(post), method: :post, remote: true do
            .btn{class: ("btn-downvote-#{post.id} "+ ((post.disliked_by_user?(current_user)) ? "btn-warning" : "btn-default"))}
              %i.fa.fa-arrow-down
          = link_to post_path(post) do
            .btn.btn-default
              %i.fa.fa-comment
        %hr

